@keyframes nav_badge {
  0% {
    transform: none;
  }
  50% {
    transform: translatey(-5px) rotatey(360deg);
  }
  100% {
    transform: none;
  }
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes hearthBeat {
  0% {
    color: white;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}
